// Подключение reset стилей, переменных, миксины
@import "reset-styles/reset";
@import "variables/variables";
@import "mixins/mixins";


//=================== total ======================================
body, html{
  width: 100%;
  //height: 100%;
  font: $basic-font;
  box-sizing: border-box;
  background-color: #ffffff;
}
a{
  text-decoration: none;
  cursor: pointer; }
:hover {
  transition: 0.5s;
}


//=================== min-width: 319px => hide all ==============
@media  (min-width: 1px) and (max-width: 319px){
  body{ display: none;}
}



//=================== min-width: 320px (and (max-width: 767px))===
@media (min-width: $min-media-mobile) {
  //=================== hat-section ==============================
  .hat-section{
    &__container{
      @include container();
      max-width: $max-media-mobile;
    }
    width: 100%;
    padding: 0;
    //margin: 0 auto;
  }

  .hat-header{
    @include display-flex-row-spaceBtw-center();
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    max-width: $max-media-mobile;
    //background-color: #ebd2d2;
    z-index: 9;

    &__burger{
      @include burger();
      position: absolute;
      right: 10px;
      margin: 20px 0 0 auto;
    }

    &__menu{
      position: absolute;
      top: -1000%;
      right: 10px;
      //margin: 0 0 0 auto;
      //padding: 0;
      background-color: #F5F5F5;
      transition: all 0.5s ease 0s;

      &.active {
        position: absolute;
        right: 10px;
        top: 60px;
        display: table;
        z-index: 1;
        transition: all .5s ease 0s;
      }

      .header-menu{
        &__list li {
          margin: 0;
          padding: 10px 100px 10px 20px;
        }

        &__list li:hover{
          background-color: #e5e5e5;
        }

        &__link{
          color: $txt-gray-color;
          text-transform: uppercase;
          font-size: 16px;
        }

        &__link:hover {
          color: $link-hover-green-color;
        }
      }

    }

  }

  .hat-content {
    padding: 83px 10px 0 10px;
    &__img{
      max-width: 100%;
    }
  }


  //=================== resent-post-section =====================
  .resent-post-section{
    &__container{
      @include container();
      max-width: $max-media-mobile;
    }
    width: 100%;
    margin-top: 40px;
  }

  .resent-post{
    &__title{
      @include basic-title();
    }

    &__content{
      .resent-post-content-item{
        cursor: pointer;
        display: block;
        margin-left: 10px;
        text-align: left;
      }
      .resent-post-content-item:hover{
        cursor: pointer;
        background-color: #F5F5F5;
        .cont-item {
          &__title {
            //font-size: 18px;
            color: $link-hover-green-color;
          }
        }
      }
    }
  }

  .content-item{
    &__img{
      width: 60%;
      padding: 2% 2% 1% 0;
    }
    &__cont{
      margin: 0 0 2% 0;
      text-align: left;
    }
  }

  .cont-item{
    &__title{
      font-size: 16px;
      color: $txt-gray-color;
    }
    &__detales{
      font-size: 12px;
      color: $txt-light-gray-color;
    }
    &__txt{
      font-size: 14px;
      color: $txt-medium-gray-color;
      display: none;
    }
  }


  //=================== last-instashot-section ==================
  .last-instashot-section{
    &__container{
      @include container();
      max-width: $max-media-mobile;
    }
    width: 100%;
    margin-top: 40px;
  }

  .instashot-titlebox{
    display: flex;
    justify-content: space-between;
    &__title{
      @include basic-title();
    }
    &__title.right{
      display: none;
    }
  }

  .instashot-imgbox{
    display: flex;
    justify-content: flex-start;
    &__img{
      width: 75%;
      margin: 10px 10px 40px 10px;
    }

    &__img.for-tabl, .for-desk{
      display: none;
    }
  }


  //=================== footer-section ==========================
  .footer-section {
    &__container{
      @include container();
      max-width: $max-media-mobile;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    line-height: 20px;
    text-align: center;
    color: #B9B9B9;
    background-color: rgb(0, 0, 0);
    padding: 7% 10%;
  }

  .footer{
    &__title{
      @include basic-title();
      justify-content: center;
      color: #fff;
      margin-bottom: 2%;
    }

    &__txt{
      display: none;
      font-size: 12px;
      line-height: 20px;
      margin: 0 9% 2% 9%;
    }

    &__txt.for-mobile{
      display: flex;
    }

    &__icons {
      display: flex;
      justify-content: center;
      margin: 8% 4%;
    }

    &__info{
      display: block;
      font-size: 14px;
      margin: 0 1.5%;
    }

    @media (min-width: 480px){
      &__icons {
        margin: 4% 4%;
        transition: all 0.9s ease 0s;
      }
      &__txt{
        font-size: 14px;
      }
    }
  }

  .icon-box{
    width: 34px;
    height: 34px;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
    margin: 0 6px;
    svg {
      vertical-align: bottom;
    }
    &__wifi{
      border: 1px solid #F8902E;
      color: #F8902E;
    }
    &__facebook{
      border: 1px solid #39599F;
      color: #39599F;
    }
    &__tumblr{
      border: 1px solid #45B0E3;
      color: #45B0E3;
    }
    &__dribbble{
      border: 1px solid #D97AB0;
      color: #D97AB0;
    }
    &__pinterest{
      border: 1px solid #CC212C;
      color: #CC212C;
    }
  }

  .info{
    &__address{
      padding-bottom: 7px;
    }
    &__tel{
      padding-bottom: 7px;
    }
    &__email{
      padding-bottom: 7px;
    }
  }

}



//=================== min-width: 768px (and (max-width:  990px)===
@media (min-width: $min-media-tablet) {

  .hat-section{
    &__container{
      max-width: $max-media-tablet;
    }
  }

  .hat-header{
    max-width: $max-media-tablet;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25px;
    z-index: 1;

    &__burger{
      display: none;
    }

    &__menu{
      position: relative;
      top: 0;
      right: 0;
      margin: 0 auto;
      background-color: transparent;

      &.active {
        position: relative;
        top: 0px;
        right: 0;
        display: flex;
        justify-content: center;
        margin: 0 auto;
      }

      .header-menu{
        &__list{
          font-size: 15px;
          display: flex;
          justify-content: center;
        }

        &__list li {
          padding: 0;
          margin: 0 17px 0 17px;
        }

        &__list li:hover{
          background-color: transparent;
        }
      }
    }
  }

  .hat-content {
    padding: 43px 0 0 0;
  }



  .resent-post-section{
    &__container{
      max-width: $max-media-tablet;
    }
    margin-top: 60px;
  }

  .resent-post{

    &__content{
      .resent-post-content-item{
        display: flex;
      }
    }
  }

  .content-item{

    &__img{
      width: 45%;
      padding: 2% 2% 2% 0;
    }

    &__cont{
      padding: 2% 2% 2% 0;
      width:  40%;
    }
  }

  .cont-item{
    margin: 0 0 3% 0;
    &__detales{
      margin: 5% 0 8% 0;
    }

    &__txt{
      display: block;
    }
  }



  .last-instashot-section{
    &__container{
      max-width: $max-media-tablet;
    }
    margin-top: 60px;
    background-color: #F5F5F5;
  }

  .instashot-titlebox{
    justify-content: space-between;
    padding-top: 20px;

    &__title.right{
      display: flex;
      margin-right: 10px;
    }

    a{
      text-decoration: none;
      color: $txt-gray-color;
    }

    a:hover{
      color: $link-hover-green-color;
    }
  }

  .instashot-imgbox{
    justify-content: space-between;
    padding: 0 10px 0 10px;

    &__img{
      width: 33%;
      margin: 10px 0 40px 0;
    }

    &__img.for-tabl{
      display: flex;
    }
  }



  .footer-section {
    &__container{
      max-width: $max-media-tablet;
    }
    padding: 5% 10%;
  }

  .footer{

    &__txt{
      display: flex;
      font-size: 16px;
      line-height: 26px;
    }

    &__txt.for-mobile{
      display: none;
    }

    &__icons {
      margin: 4%;
    }

    &__info{
      display: flex;
      justify-content: center;
      font-size: 16px;
    }

    &__info div {
      margin-right: 15px;
    }
  }

}



//=================== min-width: 991px (and (max-width:  1200px)===
@media (min-width: $min-media-desktop) {

  .hat-section{
    &__container{
      max-width: $max-media-desktop;
    }
  }

  .hat-header{
    max-width: $max-media-desktop;
    &__menu{
      .header-menu{
        &__list li {
          margin: 0 34px 0 34px;
        }
      }
    }
  }

  .hat-content {
    text-align: center;
  }



  .resent-post-section{
    &__container{
      max-width: $max-media-desktop;
    }
    margin-top: 70px;
  }

  .resent-post{
    &__content{
      .resent-post-content-item{
        display: inline-flex;
        width: 45%;
      }
      @media (min-width: 1100px) {
        .resent-post-content-item{
          width: 48%;
        }
      }
    }
  }

  .content-item{
    &__img{
      max-width: 100%;
    }

    &__cont{
      width: 380px;
    }
  }

  .cont-item{

    &__title{
      font-size: 17px;
    }

    &__detales{
      font-size: 13px;
    }

    &__txt{
      font-size: 14px;
    }
  }



  .last-instashot-section{
    &__container{
      max-width: $max-media-desktop;
    }
  }

  .instashot-imgbox{

    &__img{
      width: 24%;
      //margin: 10px 0 40px 0;
    }

    &__img.for-desk{
      display: flex;
    }
  }

}




